// 

%boxshadow {
	@include box-shadow(1px 1px 6px 1px rgba(0,0,0,0.53));
}

%borderRadius {
	@include rounded(5px);
}

.board {

	&--container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	&--buttons {
		display: flex;
		justify-content: center;
	}

	&--restart-button,
	&--solveit-button {
		@extend %boxshadow;
		@extend %borderRadius;
		border: none transparent;

		font-size: 18px;
		padding: 16px;
		margin: 6px 20px 20px 20px;

		color: $button-color;
		text-decoration: none;
		outline: none;

		background-color: $button-background-color;

		&.enabledButton {
			@include opacity(1.0);

			&:hover {
				background-color: $darker-button-background-color;
				@include transition(all 0.3s);
				cursor: pointer;
				@include opacity(1);
			}
		}
		&.disableButton {
			@include opacity(0.3);
		}
	}

	// &--status {
	// 	@extend %borderRadius;
	// 	font-size: 1.4em;
	// 	margin: 50px auto -10px auto;
	// 	padding: 20px;
	// 	color: $darker-button-background-color;
	// 	background-color: $button-color;
	// }
}
