// 

.grid {

	@extend %boxshadow2;

	margin-top: 70px;
	margin-bottom: 30px;

	&--row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&--square {
		width: 130px;
		height: 120px;
		border: 1px solid $primary-color;

		&.on {
			background-color: lightgreen;
		}

		&.off {
			background-color: brown;
		}
	}
}
