// 

$animation-timing-function: linear;

@keyframes pulsateOn  {
	0% {
		background-color: $pulse-on-start-color;
	}
	100% {
		background-color: $pulse-on-end-color;
	}
}

@keyframes pulsateOff  {
	0% {
		background-color: $pulse-off-start-color;
	}
	100% {
		background-color: $pulse-off-end-color;
	}
}

.grid {

	box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;

	background-color: $lights-off-color;

	margin-bottom: 30px;

	&--row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&--square {
		width: 130px;
		height: 120px;
		outline: none;
		border: none;

		&.enableButton {
			&:hover {
				cursor: pointer;
			}
		}

		&.on {
			background-color: $lights-on-color;

			&.animate {
				animation: pulsateOff 0.5s $animation-timing-function;
				animation-iteration-count: infinite;
				animation-delay: 0;
			}
		}

		&.off {
			background-color: $lights-off-color;

			&.animate {
				animation: pulsateOn 0.5s $animation-timing-function;
				animation-iteration-count: infinite; 
				animation-delay: 0;
			}
		}
	}
}
