//

$lights-on-color: yellow;
$lights-on-lighter-color: #f0f0cf;

$lights-off-color: #10100e;
$lights-off-lighter-color: #797970;

$button-background-color: #912691;
$darker-button-background-color: #4f164f;
$button-color: white;

$pulse-on-start-color: $lights-off-lighter-color;
$pulse-on-end-color: $lights-on-lighter-color;

$pulse-off-start-color: $lights-on-lighter-color;
$pulse-off-end-color: $lights-off-lighter-color;

$background-color: black;

@import 'setup';
@import 'mixins';

@import 'board';
@import 'grid';
@import 'sign';
