.episode-box {
  padding: 0.5rem;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
}
