//

%create-widget {
  @extend %segment;
  width: 80%;
  margin: 0 auto;

  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.75rem;
  }
}

.outer-container {
  background-color: palette(search, tinted);
  height: 100vh;
  padding-top: 30px;
}

.create-widget,
.edit-widget {
  @extend %create-widget;
}

.form-form {
  font-size: 1rem;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
}

.form-field {
  clear: both;
  margin: 0 0 1em;
  margin: 0 auto;
}
.form-field > label {
  display: block;
  margin: 0 0 0.7rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.9em;
  font-weight: 700;
  text-transform: none;
}

.form-input {
  background-color: white;
  display: block;
  outline: 0;
  padding: 0.5em 1em;
  line-height: 1.2;

  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
}

.form-textarea {
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  padding: 0.78571429em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: 0;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

.form-button {
  @extend %search-button;
  background-color: palette(search, tinted);
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-button-submit {
  margin-right: 20px;
  @include button(palette(widget, edit-button), palette(create, text));
}
.form-button-cancel {
  @include button(palette(widget, delete-button), palette(create, text));
}
