//

%anchor {
  color: palette(header, text);
  text-decoration: none;
  &:hover,
  &:focus {
    cursor: pointer;
    background: none;
    border: none;
    color: palette(header, select);
  }
}

header {
  padding: 1em;
  background-color: palette(header, base);
  color: palette(header, text);

  .header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;

    .header-logo {
      text-align: left;
      padding: 0;
      background: none;
      h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.5rem;
        a {
          @extend %anchor;
        }
      }
    }

    nav {
      padding: 0.5em;
      background: none;

      ul {
        list-style-type: none;
        li {
          margin: 0 0.5em;
          display: inline-block;
          font-size: 1.2em;
          &:last-child {
            margin: 0;
          }
          a {
            @extend %anchor;
            text-transform: uppercase;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  header {
    .header-container {
      flex-direction: column;

      .header-logo {
        padding: 1em 1em 1em 30px;
        h1 {
          // font-size: 2rem;
          text-align: center;
        }
      }

      nav {
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  header {
    .header-container {
      .header-logo {
        padding: 1em 1em 1em 30px;
        h1 {
          font-size: 3rem;
        }
      }

      nav {
        padding: 1em;
        margin-top: 12px;
      }
    }
  }
}
