//

$font-family: 'Roboto', sans-serif;

$font-color: #ecf0f1;

$bg-color: #3498db;

/*************/
/* VARIABLES */
/*************/

$app-colors: (
  primary: #1f8dd6,
  dark-color: #2d3e50,
  light-color: #ebebeb,
  item-color: #6fbef3,
  dark-text-color: #4b7197,
  white-color: #ffffff,
  black-color: #000000,
  text-border: rgb(204, 204, 204),
  box-shadow: #eaeaea,
  google-sign-in: red,
  google-sign-out: green,
  danger-color: red
);
@function app-color($key: 'primary') {
  @return map-get($app-colors, $key);
}

// Palettes of colors

$palettes: (
  primary: (
    base: app-color('primary'),
    dark-color: app-color('dark-color'),
    light: lighten(app-color('primary'), 8%),
    dark: darken(app-color('primary'), 8%),
    tinted: mix(white, app-color('primary'), 10%),
    shaded: mix(black, app-color('primary'), 10%),
    heavy-tinted: mix(white, app-color('primary'), 60%)
  ),
  header: (
    base: app-color('dark-color'),
    text: app-color('white-color'),
    select: lighten(app-color('item-color'), 15%),
    google-sign-in: app-color('google-sign-in'),
    googlesign-in-selected: darken(app-color('google-sign-in'), 10%),
    google-sign-out: app-color('google-sign-out'),
    googlesign-out-selected: darken(app-color('google-sign-out'), 5%)
  ),
  search: (
    base: app-color('dark-color'),
    tinted: mix(white, app-color('primary'), 60%)
  ),
  layout: (
    base: app-color('primary')
  ),
  create: (
    base: darken(app-color('primary'), 8%),
    text: app-color('white-color')
  ),
  widget: (
    text: app-color('black-color'),
    edit-button: app-color('primary'),
    delete-button: app-color('danger-color')
  )
);

@function palette($palette, $tone: 'base') {
  // @debug '-------- in palatte; palette `#{$palette}` tone `#{$tone}` palettes `#{$palettes}`';
  @return map-get(map-get($palettes, $palette), $tone);
}
