//

@import 'variables';

@import 'baseline';

@import 'mixins';

.error-text {
  color: red;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

%google {
  @include button-to-div;
  color: palette(header, text);
  padding: 15px;
}

%search-button {
  @include button-to-div;
}

.google-sign-in {
  @extend %google;
  font-weight: bold;
  background-color: palette(header, google-sign-in);
  &:hover {
    background-color: palette(header, googlesign-in-selected);
  }
}

.google-sign-out {
  @extend %google;
  font-weight: bold;
  background-color: palette(header, google-sign-out);
  &:hover {
    background-color: palette(header, googlesign-out-selected);
  }
}

%segment {
  position: relative;
  background: #fff;
  @include box-shadow(1px, 2px, 0, rgba(34, 36, 38, 0.15));
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 1rem;
}

@import 'header';
@import 'search';
@import 'layout';

@import 'create.scss';
@import 'list-widgets';
@import 'widget';
@import 'edit-widget';
