//

$font-family: 'Roboto', sans-serif;

// font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-family;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.2;
}

figure,
figcaption,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: $font-family;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

$primary-color: #428bca;
$dark-primary-color: #3071a9;

.error {
  color: red;
  font-size: 22px;
  font-weight: bold;
}

.input-field {
  box-sizing: border-box;
  height: 2.4rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #333333;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(51, 51, 51, 0.1);
  border-radius: 0;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
}
