.DS_STORE

# vi
.*.swp
.*.swo

# node
node_modules

# react
dist/*

# sass
.sass-cache

# env
.env

# vscode chrome extension
.vscode/chrome

# log files
logfile.txt
*.log

# webpack bundle analyzer files
statistics.json
production-statistics.json

