<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= htmlWebpackPlugin.options.TITLE %>
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>" />
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.KEYWORDS %>" />

	<meta name="google-site-verification" content="<%= htmlWebpackPlugin.options.GOOGLE_SITE_VERIFICATION %>" />

	<meta name="author" content="<%= htmlWebpackPlugin.options.AUTHOR %>" />
	<link rel="author" href="<%= htmlWebpackPlugin.options.GOOGLE_PROFILE %>" />

	<meta property="fb:app_id" content="<%= htmlWebpackPlugin.options.FACEBOOK_APP_ID %>" />

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.TITLE %>" />
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>" />

	<meta property="og:url" content="<%= htmlWebpackPlugin.options.HOME_URL %>" />
	<meta property="og:image"
		content="<%= htmlWebpackPlugin.options.HOME_URL %>/<%= htmlWebpackPlugin.options.AUTHOR_IMAGE %>" />
	<meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.AUTHOR %>" />
	<meta property="og:image:width" content="449" />
	<meta property="og:image:height" content="449" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.TITLE %>" />
	<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>" />
	<meta name="twitter:site" content="<%= htmlWebpackPlugin.options.TWITTER_USERNAME %>" />
	<meta name="twitter:image"
		content="<%= htmlWebpackPlugin.options.HOME_URL %>/<%= htmlWebpackPlugin.options.AUTHOR_IMAGE %>" />
	<meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.TWITTER_USERNAME %>" />

	<link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.HOME_URL %>/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.HOME_URL %>/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.HOME_URL %>/favicon-16x16.png">
	<link rel="manifest" href="<%= htmlWebpackPlugin.options.HOME_URL %>/app-manifest.json">
	<link rel="mask-icon" href="<%= htmlWebpackPlugin.options.HOME_URL %>/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-config" content="<%= htmlWebpackPlugin.options.HOME_URL %>/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>

<body>
	<div id="root"></div>
	<noscript>Your browser does not support JavaScript!</noscript>
</body>

</html>
