<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= htmlWebpackPlugin.options.TITLE %>
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= htmlWebpackPlugin.options.DESCRIPTION %>" />
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.KEYWORDS %>" />

	<meta name="author" content="<%= htmlWebpackPlugin.options.AUTHOR %>" />
	<link rel="author" href="<%= htmlWebpackPlugin.options.GOOGLE_PROFILE %>" />

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Semantic UI -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

</head>

<body>
	<div id="root"></div>
</body>

</html>